/* .sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.sectionHeading {

    width: 100%;
}

.sectionPhoto {
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.sectionDescription {

} */