.nav {
    /*  */
    margin: 20px auto 0;
}

.navList {
    /*  */
    display: flex;
    justify-content: space-between;
}

.navItem {
    /*  */
}

.navLink {
    text-transform: uppercase;
    font-weight: 700;
    color: #10375d;
}

.activeNavLink {
    color: #00c4cc;
}