.footer {
    display: flex;
    justify-content: flex-end;
    border-top: solid 1px #10375d;
    flex: 0 0 auto;
    margin: -62px 0 0 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerItem {
    transition: 223ms;
    padding: 12px;
}

.footerItem:hover,
.footerItem:focus {
    transition: 223ms;
    transform: scale(1.1);
}

.footerItemLink {}

.footerItemIcon {
    width: 18px;
}