.footer {
    display: flex;
    justify-content: flex-end;
    border-top: solid 1px #10375d;
    /* position: fixed;
    bottom: 1px;
    right: 1px; */
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerItem {
    padding: 12px;
}

.footerItem:hover {
    transform: scale(1.1);
}

.footerItemLink {
    /*  */
}

.footerItemIcon {
    width: 18px;
}