.navBurger {
    position: relative;
    z-index: 25;
}

.navBurgerBtn {
    width: 40px;
    height: 40px;
    border: 1px solid #10375d;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: initial;
    outline: none;
    cursor: pointer;
}

.navBurgerBar {
    position: absolute;
    height: 2px;
    width: 16px;
    background-color: #10375d;
    border-radius: 5px;
    top: 18px;
    left: 12px;
    cursor: pointer;
}

.navBurgerBar::after,
.navBurgerBar::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 16px;
    background-color: #10375d;
    border-radius: 5px;
}

.navBurgerBar::after {
    top: 4px;
}

.navBurgerBar::before {
    top: -4px;
}

.navBurgerBarClose {
    position: absolute;
    top: 18px;
    left: 12px;
}

.navBurgerBarClose::after,
.navBurgerBarClose::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 16px;
    background-color: #10375d;
    border-radius: 5px;
}

.navBurgerBarClose::after {
    transform: rotate(45deg);
}

.navBurgerBarClose::before {
    transform: rotate(-45deg);
}